* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#menu {
  background: lime;
  padding: 10px;
}

#viewContent {
  border: 3px dashed gray;
  min-height: 50px;
}

#menu a.selected {
  background: green;
  color: white;
  border-radius: 6px;
  padding: 6px;
  margin: 4px;
}

.hidden {
  display: none;
}